<div class="dashboard-container">
    <div class="menu">
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>
    <div class="content">
        <div class="user-div">
            <div>Total de Usuários Cadastrados: {{ totalUsers }}</div>
            <p-chart type="bar" [data]="userChartData" ariaLabbel="Data"></p-chart>
        </div>
        <div class="address-div">
            <div>Total de Endereços Cadastrados: {{ totalAddress }}</div>
            <p-chart type="bar" [data]="addressChartData" ariaLabbel="Data"></p-chart>
        </div>

    </div>
</div>