<form [formGroup]="editUserForm" method="post">
    <input type="text" name="name" formControlName="name" ngModel pInputText placeholder="Nome" />
    <p-dropdown appendTo="body" [options]="genderOptions" formControlName="gender" optionLabel="label" optionValue="value" placeholder="Gênero"></p-dropdown>
    <p-calendar appendTo="body" formControlName="birthDate" dateFormat="dd-mm-yy" placeholder="Data de Nascimento"></p-calendar>
    <p-dropdown appendTo="body" [options]="maritalStatusOptions" formControlName="maritalStatus" optionLabel="label" optionValue="value" placeholder="Estado Civil"></p-dropdown>
    <p-button label="Confirmar" (onClick)="onSubmit()"></p-button>
</form>