<p-dialog header="Confirmação de Exclusão" [(visible)]="confirmationDialogVisible" [modal]="true" [closable]="false">
    <p>Tem certeza de que deseja excluir este usuário?</p>
    <p-footer>
        <p-button type="button" severity="danger" icon="pi pi-check" (click)="confirmDelete()" label="Sim"></p-button>
        <p-button type="button" icon="pi pi-times" (click)="cancelDelete()" label="Não"></p-button>
    </p-footer>
</p-dialog>
<div class="dashboard-container">
    <div class="menu">
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>
    <div class="content">
        <p-table [value]="users" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Gênero</th>
                    <th>Data de Nascimento</th>
                    <th>Estado Civil</th>
                    <th>Gerenciar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-users>
                <tr>
                    <td>{{ users.name }}</td>
                    <td>{{ users.gender }}</td>
                    <td>{{ users.birthDate }}</td>
                    <td>{{ users.maritalStatus }}</td>
                    <td class="manage-buttons">
                        <p-button type="button" size="small" icon="pi pi-user-edit" (click)="editUser(users)"></p-button>
                        <p-button type="button" size="small" icon="pi pi-trash" severity="danger" (click)="deleteUserConfirmation(users.id)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" label="Criar Usuário" styleClass="p-button-text"
                    (click)="createUser()"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
            </ng-template>
        </p-table>
    </div>
</div>